
@if (!allViewed()) {
@if ((currentUser$ | async); as user) {
@let commonInfo = commonHobbies$ | async;
<button (click)="onNotClicked()" class="swipe-action not">
  NOT
</button>
<div class="user-info">

  <div class="left">

    <img class="user-photo" alt="zdjęcie użytkownika" height="200" width="200" [src]="user.profilePicture" src-fallback="/missing.png">

    <h3>Wasza zgodność jest na poziomie: {{commonInfo?.similarityLevel}}</h3>
    <h3>Wspólne zainteresowania:</h3>
    <ul>
      @for(hobby of commonInfo?.similarHobbies; track hobby.id) {
      <li>{{hobby.name}}</li>
      }
    </ul>
  </div>
  <div class="right">
    <h2>{{user.firstName + " " + user.lastName}}</h2>
    <p>{{user.age}} lat, {{user.city}}</p>
    <h3>Opis</h3>
    <p>{{user.description}}</p>
  </div>
</div>
<button (click)="onHotClicked()" class="swipe-action hot">
  HOT
</button>
}
} @else {
  <div class="all-message">
  <p>
    To wszystko na dziś!
  </p>
  <p>
    <a routerLink="/liked">Do ulubionych</a>
  </p>
  </div>
}
