
@if (! allViewed()) {
@let users = users$ | async;
@if (users && usersLength() > 0) {
@let user = users[userIdx()];
<button (click)="onNotClicked()" class="swipe-action not">
  NOT
</button>
<div class="user-info">

  <div class="left">
    <img class="user-photo" alt="zdjęcie użytkownika" height="256" width="256" [src]="user.profilePicture">
    <h3>Wasza zgodność: 00%</h3>
    <h3>Wspólne zainteresowania:</h3>
    <ul>
      @for(hobby of user.hobbies; track hobby.id) {
      <li>{{hobby.name}}</li>
      }
    </ul>
  </div>
  <div class="right">
    <h2>{{user.firstName + " " + user.lastName}}</h2>
    <p>20 lat, Kielce</p>
    <h3>Opis</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates reiciendis inventore in. Eligendi, fugiat delectus harum ipsam officia quos facilis nostrum illum totam, nobis fuga iste architecto incidunt dolores at!</p>
  </div>
</div>
<button (click)="onHotClicked()" class="swipe-action hot">
  HOT
</button>
}
} @else {
  <div class="all-message">
  <p>
    To wszystko na dziś!
  </p>
  <p>
    <a routerLink="/liked">Do ulubionych</a>
  </p>
  </div>
}
