/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

:root {
  --main-bg: hsl(0deg 0% 95%);
  --main-fg: hsl(180deg 20% 20%);
  --main-fg-bright: hsl(180deg 20% 50%);
  --danger: hsl(0deg 60% 60%);
  --success: hsl(100deg 60% 60%);
  --radius: 10px;
  --font-family: "Poppins", sans-serif;
  color-scheme: light;
}
body {
  font-family: var(--font-family);
  background-color: var(--main-bg);
  color: var(--main-fg);
  padding: 0;
  margin: 0;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.user-photo {
  height: 256px;
  width: 256px;
  display: block;
}

input {
  appearance: none;
  border: 2px solid;
  background: var(--main-bg);
  color: var(--main-fg);
  font-family: var(--font-family);
  border-radius: var(--radius);
  padding: 0.2rem 1rem;
}

button, .link-button {
  appearance: none;
  display: inline-block;
  border-radius: var(--radius);
  border: none;
  padding: 0.2rem 1rem;
  font-family: var(--font-family);
  font-weight: bold;
  text-decoration: none;
  color: var(--main-bg);
  background-color: var(--main-fg);
  text-align: center;
  border: 2px solid var(--main-fg);
}

button.secondary, .link-button.secondary {
  border: 2px solid;
  color: var(--main-fg);
  background: var(--main-bg);
}

button.secondary:hover, .link-button.secondary:hover {

  color: var(--main-fg-bright);
  border-color: var(--main-fg-bright);
  background: var(--main-bg);
}


button:hover, .link-button:hover {
  background-color: var(--main-fg-bright);
  border-color: var(--main-fg-bright);
  color: var(--main-bg);
}

.error {
  color: var(--danger);
}

a {
  color: var(--main-fg);
  text-decoration: underline;
}

a:hover {
  color: var(--main-fg-bright);
}




button[disabled] {
  opacity: 0.5;
}
button[disabled]:hover {
  background-color: var(--main-fg);
  border-color: var(--main-fg);
}

