<div style="padding: 1em;">
  @if(related$ | async; as related) {
  <h2>Match</h2>
  <div class="users-grid">
    @for (user of related.matched; track user.id) {
    <div class="user-short-info">
      <button class="secondary" style="margin-bottom: 0.5em">usuń</button>
      <img [src]="user.profilePicture" src-fallback="/missing.png" width="200" height="200" alt="user photo">
      <h3>{{user.firstName + ' ' + user.lastName}}</h3>
      <a [href]="user.facebookUrl">Link do FB</a>
    </div>
    }
  </div>
  }
</div>
